<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-movimientos">

  <template>
      <style>
        :host {
          display: block;
        }
        </style>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">


        <iron-ajax auto="" id="obtenerDetalle"
                   url="http://localhost:3000/colapi/v3/movimientos"
                   handle-as="json"
                   on-response="mostrarDetalle">
        </iron-ajax>

          <h1> <center>
            Movimientos de todos los clientes
          </center></h1>
          <br/>
        </br/>

         <table   class="table table-striped" border="social-jolicloud">
          <thead>
            <th>ID MOVIMIENTOS</th>
            <th>FECHA</th>
            <th>DESCRIPCION</th>
            <th>IMPORTE</th>
            <th>IBAN</th>
            <th>DETALLE</th>
          </thead>
          <tbody>
            <template is="dom-repeat" items="{{movimientos}}" index-as="index">
            <tr on-click="mostrarInfoFila">
              <td>{{item.id_mov}}</td>
              <td>{{item.fecha}}</td>
              <td>{{item.descripcion}}</td>
              <td>{{item.importe}}</td>
              <td>{{item.iban}}</td>
             <td><a class="btn btn-info" href="/movimientos/[[id.mov]]">Ver detalles</a></td>
            </tr>
            </template>
          </tbody>
        </table>

    </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class DetalleMovimiento extends Polymer.Element {
          static get is() { return 'visor-movimientos'; }
          static get properties() {
            return {
              movimientos: {
                type: Array
              },
              cargados:{
                type: Boolean,
                value: true
              }
            };
          }
          mostrarDetalle(data) {
             this.movimientos = data.detail.response
             this.cargados=false;
          }
        }

        window.customElements.define(DetalleMovimiento.is, DetalleMovimiento);
      </script>
    </dom-module>
