<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-cuentas">

  <template>
      <style>
        :host {
          display: block;
        }
        </style>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

        <iron-ajax auto="" id="obtenerCuentas"
                   url="http://localhost:3000/colapi/v3/cuentas"
                   handle-as="json"
                   on-response="mostrarDetalle">
        </iron-ajax>

        <h1> <center>
          Movimientos de todas las cuentas los clientes
        </center></h1>
        <br/>
      </br/>

        <table class="table table-striped" border="social-jolicloud">
          <thead>
            <th>IBAN</th>
            <th>USERID</th>
            <th>BALANCE</th>
            <th>VER DETALLE</th>
          </thead>
          <tbody>
            <template is="dom-repeat" items="{{cuentas}}" index-as="index">
            <tr on-click="mostrarInfoFila">
              <td >{{item.iban}}</td>
              <td>{{item.userid}}</td>
              <td>{{item.balance}}</td>
              <td><a class="btn btn-info" href="/movimientos/[[id.mov]]">Ver detalles</a></td>
            </tr>
            </template>
          </tbody>
        </table>

    </template>

    <script>
        /**
         * @customElement
         * @polymer
         */
        class DetalleCuentas extends Polymer.Element {
          static get is() { return 'visor-cuentas'; }
          static get properties() {
            return {
              cuentas: {
                type: Array
              }
            };
          }
          mostrarDetalle(data) {
             this.cuentas = data.detail.response
          }
        }

        window.customElements.define(DetalleCuentas.is, DetalleCuentas);
      </script>
    </dom-module>
