<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-usuario">
  <template>

    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

<!-- DIV -->
<div class="row">
     <!-- Bootstrap permite indicar el ancho por nº columnas (col-md-5 indica 5 columnas)
     total columnas 12 (que indica el ancho máximo)-->
     <!-- media query -->
     <h1 class="col-md-12"> <marquee> Visor Usuario </marquee> </h1>
     <h2 class="col-md-5">Soy {{first_name}} {{last_name}}</h2>
     <h2 class="col-md-5">y mi email es {{email}}</h2>

</div>

<button class="btn btn-success"> <a href="http://localhost:3000/colapi/v3/cuentas/"> cargar todas las cuentas </a></button>
<button class="btn btn-warning"> <a href="http://localhost:3000/colapi/v3/cuentas/{{id}}">  Ver mis cuentas </a></button>
<button class="btn btn-info"> <a href="http://localhost:3000/colapi/v3/users/">  Cargar todos los usuarios </a> </button>

<button class="btn btn-danger">Danger</button>

<!-- se recomienda colocar al final -->
<iron-ajax
     auto=""
     id="getUser"
     url="http://localhost:3000/colapi/v3/users/{{id}}"
     handle-as="json"
     on-response="showData">
</iron-ajax>

</template>

<script>
    /**
     * @customElement
     * @polymer
     */
    class visorusuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          id:{
            type: String
          },
          first_name: {
            type: String
          },
          last_name: {
            type: String
          },
          email: {
            type: String
          }
        };
      }

    showData(data){
    this.id=data.detail.response.id;
    this.first_name=data.detail.response.first_name;
    this.last_name=data.detail.response.last_name;
    this.email=data.detail.response.email;
    }
}

    window.customElements.define(visorusuario.is, visorusuario);
</script>

</dom-module>
