<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-emisor">
  <template>

    <style>
      :host {
        display: block;
      }
      login-emisor[hidden] {
        display: none;
      }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">


    <iron-ajax id="hacerlogin" method="post"
               url="http://localhost:3000/colapi/v3/login"
               handle-as="json"
               content-type="application/json"
               on-response="mostrarDetalle">
    </iron-ajax>


    <br />
    <br />
    <center> <h1> LOGIN DE USUARIOS </h1> </center>
    <br />

<table  style="margin: 0 auto;" border="social-jolicloud">
  <tr>
  <td>
    usuario:
  </td>
  <td>
      <input type="email" placeholder="email" value="{{email::input}}">
  </td>
</tr>

<tr>
  <td>
    password:
  </td>
  <td>
      <input type="password" placeholder="password" value="{{password::input}}">
  </td>
</tr>

<tr>
  <td td colspan="2" align="center">
     <button class="btn btn-success" border="center" class="btn btn-succes" on-click="logon">  Logearse </button>
     <button class="btn btn-success" border="center" class="btn btn-succes" on-click="limpiar"> Limpiar texto </button>
  </td>
</tr>

</table>

<br />
<br />
<center> <b> <marquee width="300"> {{espacio}}</b>  </center>

</template>

<script>
   class LoginEmisor extends Polymer.Element{

     static get is () {return 'login-emisor';}

     static get properties(){
       return{

         email:{
           type: String
         },
         espacio:{
           type: String
         },
         id:{
           type: String
         }
     };
   };

logon(e){
  if (this.email==null || this.password==null){
    this.espacio="!! Email o Password Vacio !!"
  }
  else{
    this.$.hacerlogin.body=JSON.stringify({email:this.email,password:this.password})
    this.$.hacerlogin.generateRequest()
    this.espacio="";
    this.correcto="";
  }
}

   mostrarDetalle(e){
      if (e.detail.response.msg == "Usuario o contraseña incorrecta"){
           this.espacio="!! Datos incorectos !!"
      }
      else
       this.dispatchEvent(new CustomEvent('loginok',{detail:{id:this.id,email:this.email,respuestas:e.detail.response.msg}}));
   }

   limpiar(){
     this.email="";
     this.password="";
   }

}
   window.customElements.define(LoginEmisor.is,LoginEmisor);
</script>
</dom-module>
