<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="/src/login-techu/login-emisor.html">
<link rel="import" href="/src/login-techu/login-receptor.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-padre">
  <template>

    <style>
      :host {
        display: block;
      }
      login-emisor[hidden] {
        display: none;
      }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <iron-ajax id="hacerLogout" method="post"
               url="http://localhost:3000/colapi/v3/logout"
               handle-as="json"
               content-type="application/json"
               on-response="mostrarMensaje">
    </iron-ajax>


    <span>{{mensajesalida}}</span>

    <login-emisor id="emisor" hidden$={{logado}}></login-emisor>
    <login-receptor id="receptor" hidden$={{logadorec}}></login-receptor>

    <button  class="btn btn-success" on-click="salir" hidden$={{!logado}}>logout</button>

</template>

<script>
   class loginPadre extends Polymer.Element{

     static get is () {return 'login-padre';}
     ready(){

      super.ready()
      this.$.emisor.addEventListener('loginok', e => {this.procesarLogin(e)})
     }

     static get properties(){
       return {
         logado:{
           type:Boolean, value:false
         },
         email:{
           type: String
         },
         mensajesalida:{
           type: String
         },
         logadorec:{
           type:Boolean, value:true
         }
     }
   };

  procesarLogin (e)   {
    this.$.receptor.mostrarDatosRecibidos(e.detail)
    this.logado=true
    this.logadorec=false
    this.email=e.detail.email
    this.mensajesalida=""

  }

  salir (){
    this.$.hacerLogout.body = JSON.stringify({"email":this.email})
    this.$.hacerLogout.generateRequest()
    this.logado=false
    this.logadorec=true
  }

  mostrarMensaje(e){
    if (e.detail.response.msg == "sesión cerrada"){
         this.mensajesalida="SECCION FINALIZADA"
    }
  }
}

   window.customElements.define(loginPadre.is,loginPadre);
</script>
</dom-module>
