<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/src/visor-cuentas/visor-cuentas.html">

<dom-module id="login-receptor">
  <template>

    <style>
      :host {
        display: block;
      }
    </style>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">


    <h1> <center>

     Transacciones BBVA </center> </h1>
    <br/>

  </br/>
    <table  class="table table-striped" style="margin: 0 auto;" border="social-jolicloud">
      <tr>
      <td>
          <a class="btn btn-info" href="/cuentas">Ver cuentas del clientes </a>
      </td>
    </tr>

    <tr>
      <td>
          <a class="btn btn-info" href="/movimientos"> Ver todos los movimientos </a>
      </td>
    </tr>

    <tr>
      <td>
          <a class="btn btn-info" href="/movimientosxmov/{{this.id}}">Ver todos los movimientos del clientes </a>
      </td>
    </tr>

    <tr>
      <td>
          <a class="btn btn-info" href="/movimientos/[[item.id]]">Ver todos las cuentas</a>
      </td>
    </tr>

    </table>

</template>



<script>
   class LoginReceptor extends Polymer.Element{
     static get is () {return 'login-receptor';}
     static get properties(){
       return{
         email:{
           type: String
         },
         password:{
           type: String
         },
         logado:{
           type:Boolean
         }
       };
     }

     mostrarDatosRecibidos(data){
       this.email = data.email
       this.password = data.password
     }

   }

   window.customElements.define(LoginReceptor.is,LoginReceptor);
</script>
</dom-module>
