<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="/src/demo-emisor.html">
<link rel="import" href="/src/demo-receptor.html">

<dom-module id="demo-padre">
  <template>

    <style>
      :host {
        display: block;
      }
    </style>
    <h1>SOY EL PADRE</h1>

<demo-emisor id="emisor"></demo-emisor>
<demo-receptor id="receptor"></demo-receptor>

</template>

<script>
   class DemoPadre extends Polymer.Element{

     static get is () {return 'demo-padre';}
     ready(){

      super.ready()
      this.$.emisor.addEventListener('loginok', e => {this.procesarLogin(e)})
     }

     static get proerties(){
       return {
     }
   };

  procesarLogin (e)   {
    console.log ("Soy tu Padre" + e.datail)
    this.$.receptor.mostrarDatosRecibidos(e.detail)
  }
}
   window.customElements.define(DemoPadre.is,DemoPadre);
</script>
</dom-module>
