<link rel="import" href="../../bower_components/polymer/polymer-element.html">
  <link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="demo-emisor">
  <template>

    <style>
      :host {
        display: block;
      }
    </style>
    <h1> Emisor</h1>

<button on-click="hacerLogin"> Pulsame</button>

</template>
<script>
   class DemoEmisor extends Polymer.Element{

     static get is () {return 'demo-emisor';}

     static get properties(){
       return{
     };
   };


   hacerLogin(e){
       console.log("EMISOR HE PULSADO EL BOTON")
       this.dispatchEvent(new CustomEvent('loginok',{detail:{usuario:"paco", origen:"TechU", pais:"Colombia"}}));
   }
}
   window.customElements.define(DemoEmisor.is,DemoEmisor);
</script>
</dom-module>
